openapi: 3.0.3
info:
  title: ChurchEden Backend API
  description: >
    REST API for ChurchEden — church onboarding, membership, join-requests,
    authentication (email + Google OAuth) and Paystack payments.

    Notes:
      - Base paths: the API is served under `/api/v1`. The auth router is additionally
        mounted at `/auth/*` and the payment router at `/api/v1/payments/*` **and**
        `/api/v1/*` (duplicate mount — see each payment path).
      - Auth strategy: web clients receive the JWT pair as `HttpOnly` cookies
        (`token`, `refreshToken`). Mobile clients should send
        `Authorization: Bearer <accessToken>` and pass `refreshToken` in the body of
        POST /api/v1/refresh. Send `x-client-platform: mobile` on mobile requests.
      - Money is denominated in **kobo** (`SUBSCRIPTION_AMOUNT_KOBO`).
  version: 1.0.0
servers:
  - url: https://api.churcheden.app
    description: Production
  - url: https://staging-api.churcheden.app
    description: Staging
  - url: http://localhost:8080
    description: Local development
tags:
  - name: Auth
    description: Registration, login, email verification, password reset, Google OAuth, logout.
  - name: Onboarding
    description: Church founder onboarding (steps 1–4, draft, complete).
  - name: Members
    description: Member profile.
  - name: Churches
    description: Church directory, leave, admins, and church deletion.
  - name: Church Requests
    description: Submit a request to have a church onboarded.
  - name: Join Requests
    description: Submit, list, approve, reject, ban and unban church join-requests.
  - name: Payments
    description: Paystack subscription initialize / verify / cancel and webhooks.
  - name: Health
description: ''
paths:
  /health:
    get:
      tags: [Health]
      summary: Liveness check
      responses:
        '200':
          description: Service is up
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: OK }
                  date: { type: string, format: date-time }
                  service: { type: string, example: ChurchEden Backend API }

  /api/v1/auth/register:
    post:
      tags: [Auth]
      summary: Register with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
      responses:
        '201':
          description: User created; verification OTP email queued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: Login, set JWT cookies
      description: >
        Authenticates against the `SuperAdmin` table on web (`x-client-platform: web`,
        the default) and against `SuperAdmin` then `Member` on mobile. On success the
        JWT pair (`accessToken`, `refreshToken`) is returned in the body and the
        `token`/`refreshToken` HttpOnly cookies are set. Unverified users receive
        a 403/EMAIL_NOT_VERIFIED error.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Authenticated; token pair returned and JWT cookies set.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  message: { type: string, example: Signed in successfully. }
                  accessToken: { type: string }
                  refreshToken: { type: string }
                  accountType: { type: string, enum: [ADMIN, MEMBER] }
                  user: { type: object }
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Deactivated admin or unverified email.
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Revoke the refresh token (and the present access token)
      description: >
        No auth middleware. Accepts either `Authorization: Bearer <accessToken>`
        (revoked) or `{ "refreshToken": "<refresh>" }` in the body (mobile).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken: { type: string, description: Hashed and revoked server-side }
      responses:
        '200':
          description: Logged out (idempotent).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  message: { type: string, example: User logged out successfully! }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/me:
    get:
      tags: [Auth]
      security: [{ bearerAuth: [] }]
      summary: Current user
      responses:
        '200':
          description: Current user payload.
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate the refresh token
      description: >
        Web: omit the body so the `refreshToken` HttpOnly cookie is used.
        Mobile: send `{ "refreshToken": "<refresh>" }`. Always returns fresh
        tokens in the body (`accessToken`, `refreshToken`) and re-sets cookies.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken: { type: string, minLength: 32 }
      responses:
        '200':
          description: Rotated token pair.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request a password reset link/token
      description: Always succeeds for unknown emails (no enumeration).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200': { description: Reset email sent (or would have been). }
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/v1/auth/reset-password:
    post:
      tags: [Auth]
      summary: Complete a password reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token: { type: string }
                newPassword: { type: string, minLength: 8 }
      responses:
        '200': { description: Password updated. }
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/v1/auth/verify-email:
    post:
      tags: [Auth]
      summary: Verify an email address with a 6-digit OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp]
              properties:
                email: { type: string, format: email }
                otp: { type: string, pattern: '^[0-9]{6}$' }
      responses:
        '200':
          description: Email verified; user created and token pair returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  message: { type: string, example: Email verified successfully! }
                  accessToken: { type: string }
                  refreshToken: { type: string }
                  user: { type: object }
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/v1/auth/resend-verification:
    post:
      tags: [Auth]
      summary: Resend the verification OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200': { description: OTP resent. }
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/v1/auth/google/url:
    get:
      tags: [Auth]
      summary: Returns the URL the frontend redirects to for Google sign-in
      responses:
        '200':
          description: Authorization URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  url:
                    type: string
                    example: http://localhost:8080/api/v1/auth/google

  /api/v1/auth/google/token:
    post:
      tags: [Auth]
      summary: Exchange a Google ID token for app tokens (mobile)
      description: >
        Verifies the Google ID token and authenticates an ADMIN (must already
        exist and be active) or MEMBER (created on first sign-in) account.
        Use this from native mobile apps instead of the browser redirect flow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [idToken]
              properties:
                idToken: { type: string, description: Google ID token from Google Sign-In for Android/iOS/Web. }
                platform:
                  type: string
                  enum: [android, ios, web, expo]
                  default: web
                accountType:
                  type: string
                  enum: [ADMIN, MEMBER]
                  default: MEMBER
                  description: Which identity table to authenticate against.
      responses:
        '200':
          description: Authenticated; returns token pair and user payload.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  message: { type: string, example: Signed in successfully. }
                  accessToken: { type: string }
                  refreshToken: { type: string }
                  accountType: { type: string, enum: [ADMIN, MEMBER] }
                  profileComplete: { type: boolean }
                  user: { type: object }
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/auth/google:
    get:
      tags: [Auth]
      summary: Start Google OAuth flow (302 to accounts.google.com)
      responses:
        '302':
          description: Redirects the browser to Google.

  /api/v1/auth/google/callback:
    get:
      tags: [Auth]
      summary: Google OAuth callback
      description: >
        On success the JWT cookies (web) are set and the browser is redirected to
        `${FRONTEND_URL}/auth/callback?profileComplete=<true|false>`. Mobile
        clients are redirected to `churcheden://auth/callback?...`. A new Google
        account gets a welcome email; existing email accounts are linked and
        verified. On failure the browser is redirected to
        `${FRONTEND_URL}/onboarding/sign-in?error=auth_failed` (mobile:
        `churcheden://auth/callback?error=auth_failed`).
      parameters:
        - in: query
          name: code
          schema: { type: string }
        - in: query
          name: state
          schema: { type: string }
      responses:
        '302':
          description: Redirect to the frontend with the outcome.

  /api/v1/onboarding/church/step-1:
    patch:
      tags: [Onboarding]
      security: [{ bearerAuth: [] }]
      summary: Save founder + church basics
      description: Existing values for later steps are preserved (merge).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [firstName, lastName, churchName, denomination, congregationSize]
              properties:
                firstName: { type: string, maxLength: 60 }
                lastName: { type: string, maxLength: 60 }
                churchName: { type: string, maxLength: 150 }
                denomination: { type: string, maxLength: 100 }
                congregationSize:
                  $ref: '#/components/schemas/CongregationSize'
                foundedYear:
                  type: integer
                  minimum: 1500
                  maximum: 2026
                  nullable: true
      responses:
        '200':
          description: Step saved (draft cached).
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/onboarding/church/step-2:
    patch:
      tags: [Onboarding]
      security: [{ bearerAuth: [] }]
      summary: Save church location & contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [country, city, address, phone, email, primaryLanguage, timeZone]
              properties:
                country:
                  type: string
                  description: ISO 3166-1 alpha-2 code, e.g. NG (used for phone parsing).
                city: { type: string, maxLength: 100 }
                address: { type: string, maxLength: 255 }
                phone: { type: string, description: International format recommended, e.g. +2348012345678 }
                email: { type: string, format: email, maxLength: 255 }
                primaryLanguage: { $ref: '#/components/schemas/ChurchLanguage' }
                timeZone:
                  type: string
                  description: >-
                    IANA name, e.g. Europe/London or Africa/Accra. 'UTC' (case-insensitive)
                    is accepted and normalized to 'Etc/UTC'.
      responses:
        '200': { description: Step saved. }
        '400':
          description: Validation error, or a prior step is missing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: error }
                  code: { type: string, example: STEP_1_REQUIRED }
                  message: { type: string, example: Please complete Church Basics before continuing. }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/onboarding/church/step-3:
    patch:
      tags: [Onboarding]
      security: [{ bearerAuth: [] }]
      summary: Upload the church logo and save service times
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                logo:
                  type: string
                  format: binary
                  description: Max 5 MB (PNG/JPG/SVG).
                serviceTimes:
                  type: string
                  description: JSON-encoded array of service time objects.
              required: [serviceTimes]
      responses:
        '200': { description: Step saved. }
        '400':
          description: >-
            Validation error, or a prior step is missing
            (`STEP_1_REQUIRED` or `STEP_2_REQUIRED`).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: error }
                  code: { type: string, example: STEP_2_REQUIRED }
                  message: { type: string, example: Please complete Location & Contact before continuing. }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: Logo too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: string, example: LOGO_TOO_LARGE }
                  message: { type: string, example: Church logo must be 5MB or smaller. }

  /api/v1/onboarding/church/step-4:
    patch:
      tags: [Onboarding]
      security: [{ bearerAuth: [] }]
      summary: Select ministries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ministryIds:
                  type: array
                  items: { type: string, format: uuid }
                  description: Predefined ministries. Default [].
                customMinistries:
                  type: array
                  items:
                    $ref: '#/components/schemas/CustomMinistry'
                  default: []
      responses:
        '200': { description: Step saved. }
        '400':
          description: >-
            Validation error, or a prior step is missing
            (`STEP_1_REQUIRED`, `STEP_2_REQUIRED` or `STEP_3_REQUIRED`).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: error }
                  code: { type: string, example: STEP_3_REQUIRED }
                  message: { type: string, example: Please complete Service Schedule & Branding before continuing. }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/onboarding/church/draft:
    get:
      tags: [Onboarding]
      security: [{ bearerAuth: [] }]
      summary: Read the in-progress onboarding draft
      description: Returns `{}` when no steps have been saved yet.
      responses:
        '200':
          description: Full draft (or empty object if none saved).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  draft:
                    $ref: '#/components/schemas/OnboardingDraft'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/onboarding/church/complete:
    post:
      tags: [Onboarding]
      security: [{ bearerAuth: [] }]
      summary: Create the church and default ministries
      description: >
        Requires all four steps to be saved (step 4 — ministries — is optional
        in content but must still be saved). Creates the Church with the caller
        as its owning SuperAdmin (`Church.superAdminId`), plus service times and
        ministries, then clears the draft cache.
      responses:
        '200':
          description: Church created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  message: { type: string, example: Church created successfully! }
                  church:
                    type: object
                    description: The created Church record (owned by the SuperAdmin).
        '400':
          description: >
            Onboarding incomplete — the message lists the earliest missing
            step(s), e.g. `step-1, step-3`. Redirect the client there.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: error }
                  code:
                    type: string
                    example: INCOMPLETE_ONBOARDING
                  message: { type: string, example: 'Incomplete onboarding. Please complete: step-1, step-3.' }
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/members/profile/complete:
    post:
      tags: [Members]
      security: [{ bearerAuth: [] }]
      summary: Complete the member profile
      description: >
        One profile per user. Submitting again upserts it. `profilePhoto` is
        optional (max 5 MB, PNG/JPEG/WebP). Profile edits are intentionally
        independent of the Google-sourced `fullName`.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                profilePhoto:
                  type: string
                  format: binary
                  description: Max 5 MB.
                fullName: { type: string, maxLength: 120 }
                dateOfBirth: { type: string, format: date }
                gender: { $ref: '#/components/schemas/Gender' }
                phoneNumber: { type: string, description: E.164, e.g. +233241234567 }
                contactEmail: { type: string, format: email }
                city: { type: string, maxLength: 100 }
                address: { type: string, maxLength: 255 }
                maritalStatus: { $ref: '#/components/schemas/MaritalStatus' }
                occupation: { type: string, maxLength: 100 }
              required: [fullName, dateOfBirth, gender, phoneNumber, contactEmail, city, address, maritalStatus]
      responses:
        '200':
          description: Profile saved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  profile:
                    $ref: '#/components/schemas/MemberProfile'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: Photo too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: string, example: PHOTO_TOO_LARGE }
                  message: { type: string, example: Profile photo must be 5MB or smaller. }

  /api/v1/members/profile:
    get:
      tags: [Members]
      security: [{ bearerAuth: [] }]
      summary: Get the current member profile
      responses:
        '200':
          description: Profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  profile:
                    $ref: '#/components/schemas/MemberProfile'
        '404':
          description: Profile not completed yet (PROFILE_NOT_FOUND).
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/join-requests:
    post:
      tags: [Join Requests]
      security: [{ bearerAuth: [] }]
      summary: Submit a join-request for a church
      description: >
        Creates (or re-submits) a `Member` record with `churchId` and the
        caller's email. Returns ALREADY_MEMBER / ALREADY_PENDING conflicts when
        already approved or pending.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [churchId]
              properties:
                churchId: { type: string, format: uuid }
      responses:
        '201':
          description: Request created (or 200 when re-applying after a rejection).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  message: { type: string, example: Join request submitted successfully! }
                  member:
                    $ref: '#/components/schemas/Member'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The caller is banned from the church (BANNED_FROM_CHURCH).
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/join-requests:
    get:
      tags: [Join Requests]
      security: [{ bearerAuth: [] }]
      summary: List join-requests (SuperAdmin only)
      description: >
        Requires a SuperAdmin account that owns a church. Returns the church's
        requests (Members) by `status` (defaults to PENDING).
      parameters:
        - in: query
          name: status
          schema: { $ref: '#/components/schemas/MembershipStatus' }
          description: Defaults to PENDING.
      responses:
        '200':
          description: Matching requests with joined member profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v1/join-requests/cancel:
    post:
      tags: [Join Requests]
      security: [{ bearerAuth: [] }]
      summary: Cancel a pending join request (member)
      description: >
        Requires a MEMBER account and ownership of the request. Only PENDING
        requests can be cancelled (409 REQUEST_NOT_PENDING otherwise).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [membershipId]
              properties:
                membershipId: { type: string, format: uuid }
      responses:
        '200':
          description: Join request cancelled.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  message: { type: string, example: Join request cancelled successfully. }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/join-requests/approve:
    post:
      tags: [Join Requests]
      security: [{ bearerAuth: [] }]
      summary: Approve a pending membership (church SUPER_ADMIN)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [membershipId]
              properties:
                membershipId: { type: string, format: uuid }
      responses:
        '200':
          description: Membership approved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  member:
                    $ref: '#/components/schemas/Member'
        '403':
          description: Caller is not the owner of the target church.
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/join-requests/reject:
    post:
      tags: [Join Requests]
      security: [{ bearerAuth: [] }]
      summary: Reject a pending membership (church SUPER_ADMIN)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [membershipId]
              properties:
                membershipId: { type: string, format: uuid }
                rejectionReason: { type: string, maxLength: 500 }
      responses:
        '200':
          description: Membership rejected.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  member:
                    $ref: '#/components/schemas/Member'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/join-requests/ban:
    post:
      tags: [Join Requests]
      security: [{ bearerAuth: [] }]
      summary: Ban a member (church SUPER_ADMIN)
      description: >
        Marks the member as banned and REJECTED. A banned member gets
        403 BANNED_FROM_CHURCH on any further `POST /join-requests`. Per-church.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [membershipId, banReason]
              properties:
                membershipId: { type: string, format: uuid }
                banReason: { type: string, minLength: 1, maxLength: 500 }
      responses:
        '200':
          description: Member banned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  member:
                    $ref: '#/components/schemas/Member'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/join-requests/unban:
    post:
      tags: [Join Requests]
      security: [{ bearerAuth: [] }]
      summary: Unban a member (church SUPER_ADMIN)
      description: Reverses a ban so the member can submit join requests again.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [membershipId]
              properties:
                membershipId: { type: string, format: uuid }
      responses:
        '200':
          description: Member unbanned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  member:
                    $ref: '#/components/schemas/Member'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/church-requests:
    post:
      tags: [Church Requests]
      security: [{ bearerAuth: [] }]
      summary: Submit a request to onboard a church
      description: >
        Lets a member request that a church be onboarded onto the platform.
        Exactly one of `phoneContact` or `emailContact` must be provided.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [churchName, city, leaderName]
              properties:
                churchName: { type: string, minLength: 1, maxLength: 150 }
                city: { type: string, minLength: 1, maxLength: 100 }
                leaderName: { type: string, minLength: 1, maxLength: 100 }
                phoneContact: { type: string, maxLength: 20 }
                phoneCountryCode:
                  type: string
                  minLength: 2
                  maxLength: 2
                  description: Uppercase ISO alpha-2 code used to normalize phone to E.164.
                emailContact: { type: string, format: email, maxLength: 255 }
      responses:
        '201':
          description: Church request submitted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  message: { type: string, example: Church request submitted successfully! }
                  churchRequest: { type: object }
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/v1/churches:
    get:
      tags: [Churches]
      security: [{ bearerAuth: [] }]
      summary: List the church directory
      description: >
        Optional `?q=` searches by name, city, country or address
        (case-insensitive contains match).
      parameters:
        - in: query
          name: q
          schema: { type: string }
          description: Search churches by name/city/country/address.
      responses:
        '200':
          description: Matching churches.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  churches:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        name: { type: string }
                        denomination: { type: string, nullable: true }
                        country: { type: string }
                        city: { type: string }
                        address: { type: string, nullable: true }
                        logoUrl: { type: string, nullable: true }
                        createdAt: { type: string, format: date-time }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/churches/{churchId}/leave:
    post:
      tags: [Churches]
      security: [{ bearerAuth: [] }]
      summary: Leave an approved church (member)
      description: >
        Requires a MEMBER account. Deletes the member's APPROVED Member record so
        they can apply to another church. Returns 404 NOT_A_MEMBER if the caller
        is not a member, and 409 NOT_AN_ACTIVE_MEMBER if the account is not
        APPROVED.
      parameters:
        - in: path
          name: churchId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Membership removed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  message: { type: string, example: You have left the church successfully. }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/v1/churches/{churchId}/admins:
    get:
      tags: [Churches]
      security: [{ bearerAuth: [] }]
      summary: List a church's admins
      description: Requires an ADMIN or SUPER_ADMIN role within the target church.
      parameters:
        - in: path
          name: churchId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: The church's leadership.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  superAdmin:
                    type: object
                    description: The owning SuperAdmin.
                    properties:
                      id: { type: string, format: uuid }
                      email: { type: string, format: email }
                      fullName: { type: string, nullable: true }
                  memberAdmins:
                    type: array
                    description: Member-level ADMIN/SUPER_ADMIN accounts.
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        email: { type: string, format: email }
                        role: { $ref: '#/components/schemas/ChurchRole' }
                        isBanned: { type: boolean }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/churches/{churchId}:
    delete:
      tags: [Churches]
      security: [{ bearerAuth: [] }]
      summary: Delete a church
      description: >
        SUPER_ADMIN only. Deletes the church and cascades its members, service
        times and ministries.
      parameters:
        - in: path
          name: churchId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Church deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  message: { type: string, example: Church "Grace Chapel" deleted successfully. }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/payments/initialize:
    get:
      tags: [Payments]
      security: [{ bearerAuth: [] }]
      summary: Initialize a Paystack subscription charge
      description: >
        Uses GET (as implemented). Generates a reference, stores a pending
        ChurchTransaction, and returns an `authorizationUrl` to open for the payer.
        Duplicate-mount note: also available at `/api/v1/initialize`.
        A SuperAdmin whose church has an active subscription gets 409 ALREADY_PREMIUM.
      responses:
        '200':
          description: Paystack checkout URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  message: { type: string, example: Payment initialized successfully! }
                  data:
                    type: object
                    properties:
                      authorizationUrl: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          description: Paystack rejected the plan (PAYSTACK_ERROR).
          $ref: '#/components/responses/BadRequest'

  /api/v1/payments/initialize/verify/{reference}:
    get:
      tags: [Payments]
      security: [{ bearerAuth: [] }]
      summary: Verify a transaction against Paystack
      description: >
        Duplicate-mount note: also available at `/api/v1/initialize/verify/{reference}`.
      parameters:
        - in: path
          name: reference
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Payment status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: object
                    properties:
                      transaction:
                        $ref: '#/components/schemas/ChurchTransaction'
        '400':
          description: Not paid yet (PAYMENT_FAILED) or Paystack error.
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Unknown reference (TRANSACTION_NOT_FOUND).
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/payments/subscription/cancel:
    get:
      tags: [Payments]
      security: [{ bearerAuth: [] }]
      summary: Cancel the active Paystack subscription
      description: >
        Duplicate-mount note: also available at `/api/v1/subscription/cancel`.
        Returns 404 NO_SUBSCRIPTION when the user has no active subscription.
      responses:
        '200': { description: Subscription canceled. }
        '400':
          description: Paystack error.
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/webhooks/paystack:
    post:
      tags: [Payments]
      summary: Paystack webhook (unauthenticated)
      description: >
        Expects `application/json` and verifies `x-paystack-signature` (sha512 HMAC
        over the raw body using PAYSTACK_SECRET_KEY). Responds 200 immediately and
        processes asynchronously. Handles charge.success, charge.failed,
        subscription.create, subscription.disable, invoice.update and
        invoice.payment_failed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaystackWebhook'
      responses:
        '200': { description: Accepted. }
        '401':
          description: Invalid signature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Authorization: Bearer <accessToken> (also accepted via cookie for web clients).'

  responses:
    ValidationError:
      description: Invalid request body/params/query.
      content:
        application/json:
          schema:
            type: object
            required: [status, code, message]
            properties:
              status: { type: string, example: error }
              code: { type: string, example: VALIDATION_FAILED }
              message: { type: string, example: Validation failed! }
              details:
                type: array
                items:
                  type: object
                  properties:
                    field: { type: string }
                    code: { type: string }
                    message: { type: string }
    Unauthorized:
      description: Missing/invalid token, or invalid credentials.
      content:
        application/json:
          schema:
            type: object
            properties:
              status: { type: string, example: error }
              code:
                type: string
                enum: [UNAUTHORIZED, MISSING_TOKEN, EMAIL_NOT_VERIFIED]
              message: { type: string }
    Forbidden:
      description: Authenticated but not permitted.
      content:
        application/json:
          schema:
            type: object
            properties:
              status: { type: string, example: error }
              code: { type: string, example: FORBIDDEN }
              message: { type: string }
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            type: object
            properties:
              status: { type: string, example: error }
              code: { type: string, example: PageNotFound }
              message: { type: string }
    BadRequest:
      description: Business rule violation.
      content:
        application/json:
          schema:
            type: object
            properties:
              status: { type: string, example: error }
              code: { type: string }
              message: { type: string }
    Conflict:
      description: Resource conflict.
      content:
        application/json:
          schema:
            type: object
            properties:
              status: { type: string, example: error }
              code: { type: string, example: EMAIL_EXISTS }
              message: { type: string }
    RateLimited:
      description: Too many requests.
      content:
        application/json:
          schema:
            type: object
            properties:
              status: { type: string, example: error }
              message: { type: string, example: Too many requests }

  schemas:
    CongregationSize:
      type: string
      enum: [RANGE_1_100, RANGE_101_500, RANGE_501_1000, RANGE_1001_2000, RANGE_2000_PLUS]
    ChurchLanguage:
      type: string
      enum: [ENGLISH, FRENCH, SPANISH]
    Gender:
      type: string
      enum: [MALE, FEMALE, PREFER_NOT_TO_SAY]
    MaritalStatus:
      type: string
      enum: [SINGLE, MARRIED, DIVORCED, WIDOWED, PREFER_NOT_TO_SAY]
    MembershipStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED]
    ChurchRole:
      type: string
      enum: [MEMBER, ADMIN, SUPER_ADMIN]
    SubscriptionStatus:
      type: string
      enum: [ACTIVE, PAST_DUE, CANCELED, TRIALING]
    ChurchPlan:
      type: string
      enum: [EXPLORER, PLUS, CORE]
    ServiceTime:
      type: object
      required: [label, dayOfWeek, time]
      properties:
        label: { type: string, maxLength: 60 }
        dayOfWeek:
          type: integer
          minimum: 0
          maximum: 6
          description: 0 = Sunday … 6 = Saturday.
        time:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: '10:30'
    CustomMinistry:
      type: object
      required: [name, type]
      properties:
        name: { type: string, maxLength: 100 }
        type: { type: string, enum: [MINISTRY, DEPARTMENT] }
        description: { type: string, maxLength: 255 }
        icon: { type: string }
    OnboardingDraft:
      type: object
      properties:
        firstName: { type: string }
        lastName: { type: string }
        churchName: { type: string }
        denomination: { type: string }
        congregationSize: { $ref: '#/components/schemas/CongregationSize' }
        foundedYear: { type: integer, nullable: true }
        country: { type: string }
        city: { type: string }
        address: { type: string }
        phone: { type: string }
        email: { type: string, format: email }
        primaryLanguage: { $ref: '#/components/schemas/ChurchLanguage' }
        timeZone: { type: string }
        serviceTimes:
          type: array
          items: { $ref: '#/components/schemas/ServiceTime' }
        logoUrl: { type: string }
        ministryIds:
          type: array
          items: { type: string, format: uuid }
        customMinistries:
          type: array
          items: { $ref: '#/components/schemas/CustomMinistry' }
    MemberProfile:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        profilePhotoUrl: { type: string, nullable: true }
        fullName: { type: string }
        dateOfBirth: { type: string, format: date }
        gender: { $ref: '#/components/schemas/Gender' }
        phoneNumber: { type: string }
        contactEmail: { type: string, format: email }
        city: { type: string }
        address: { type: string }
        maritalStatus: { $ref: '#/components/schemas/MaritalStatus' }
        occupation: { type: string, nullable: true }
        completedAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    Member:
      type: object
      properties:
        id: { type: string, format: uuid }
        churchId: { type: string, format: uuid }
        email: { type: string, format: email }
        role: { $ref: '#/components/schemas/ChurchRole' }
        status: { $ref: '#/components/schemas/MembershipStatus' }
        joinedAt: { type: string, format: date-time }
        rejectionReason: { type: string, nullable: true }
        isBanned: { type: boolean, default: false }
        bannedAt: { type: string, format: date-time, nullable: true }
        banReason: { type: string, nullable: true }
        church:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
        memberProfile: { $ref: '#/components/schemas/MemberProfile', nullable: true }
    ChurchTransaction:
      type: object
      properties:
        id: { type: string, format: uuid }
        reference: { type: string }
        amount: { type: string }
        status:
          type: string
          enum: [pending, success, failed]
        authorizationUrl: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
    PaystackWebhook:
      type: object
      properties:
        event:
          type: string
          enum: [charge.success, charge.failed, subscription.create, subscription.disable, invoice.update, invoice.payment_failed]
        data:
          type: object
          additionalProperties: true
      required: [event, data]